/*
  global style
*/

body {
  background: #272324;
  padding: 50px;
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
}

a {
  text-decoration: none;
  color: #00B7FF;
}

div {
  box-sizing: border-box;
}

/*
  partial style
*/

header {
  margin: 10px auto;
  position: relative;
}

header h1 {
  text-align: center;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 5em;
  margin: 0;
}

header h2 {
  font-size: 2em;
  text-align: center;
  color: #E5E5E5;
  margin: 0;
}

header div.title-left, header div.title-right {
  position: absolute;
  width: 20px;
  height: 100%;
  top: 0;
  border-style: solid;
  border-color: #C9C9C9;
}

header div.title-left {
  left: 0;
  border-width: 10px 0 10px 10px;
}

header div.title-right {
  right: 0;
  border-width: 10px 10px 10px 0;
}

div.content p {
  text-align: center;
  color: #C9C9C9;
  margin: 100px auto;
}

div.container {
  margin: 200px auto;
  margin-top: -50px;
  max-width: 760px;
}

div.column {
  width:33.3%;
  float: left;
  padding: 10 auto;
  text-align: center;
}

div.column img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  position: relative;
  border: 5px solid #4b4b4b;
}

div.tooltip {
  background-color: #111;
  width: 300px;
  padding: 10px;
  border-radius: 25px 0px;
  margin: 10px 0 10px -25px;
  margin-top: -60px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.5s ease-out 0.1s;
  -moz-transition: all 0.5s ease-out 0.1s;
  transition: all 0.5s ease-out 0.1s;
}
div.tooltip::before {
  content: ' ';
  position: absolute;
  top: -10px;
  left: 130px;
  border-bottom: 20px solid #111;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}
div.tooltip a {
  color: #C9C9C9;
  text-decoration: none;
}

div.column:hover .tooltip,
div.column:focus .tooltip{
  opacity: 1;
  -webkit-transition: all 0.5s ease-out 0.1s;
  -moz-transition: all 0.5s ease-out 0.1s;
  transition: all 0.5s ease-out 0.1s;
  }
/*div.tooltip-hidden {
  display: none;
}*/

p.tooltip-word{
  text-decoration: none;
  font-size: 1.5em;
  color: #E5E5E5;
}
footer p{
  text-align: center;
  color: #C9C9C9;
  font-size: 1.3em;
}

/*
  mobile style
*/
@media(max-width: 768px) {
  header h1 {
    font-size: 3em;
  }
  
  header h2 {
    font-size: 1.5em;
  }
  
  div.container {
    margin: 30px auto;
  }
  
  div.column {
    width:100%;
    float: none;
    margin: 100px 0;
    text-align: left;
  }
  
  div.column:first-child {
    margin-top: 0;
  }
  
  div.tooltip {
    background-color: transparent;
    position: relative;
    margin: 0;
  }
  
  div.tooltip-hidden {
    display: block;
  }
  
  div.tooltip a {
    text-decoration: underline;
  }
}

/*
  utility
*/

.clearfix {
  overflow: auto;
  zoom: 1;
}
