body {
  background: #272324;
  padding: 50px;
  background-image: url("/images/pattern.png");
  background-repeat: repeat;
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 5em;
  position: static;
  
}

h2 {
  position: relative;
  bottom: 2em;
  font-size: 2em;
  text-align: center;
  color: #E5E5E5;
}
.titlebox{
  position: relative;
  bottom: 2.47em;
  font-size: 10em;
  color: #FFFFFF; 
}
p {
  text-align: center;
  color: #C9C9C9;
}