body {
  background: #272324;
  padding: 50px;
  background-image: url("/images/pattern.png");
  background-repeat: repeat;
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 5em;
  position: static;
}

h2 {
  position: relative;
  bottom: 2em;
  font-size: 2em;
  text-align: center;
  color: #E5E5E5;
}
.titlebox{
  position: relative;
  bottom: 2.47em;
  font-size: 10em;
  color: #FFFFFF;
  text-align: center;
}
.paragraph {
  position: relative;
  bottom: 30em;
  text-align: center;
  color: #C9C9C9;
}
.gallery-nav{
  position: relative;
  bottom: 30em;
  left: -50%;
  float: right;
}

a.tooltip {
  display: block;
  width: 100px;
  height: 100px;
  border: 5px solid #4b4b4b;
  background: #fff no-repeat center;
  border-radius: 55px;
  background: #fff no-repeat center;
  background-size: cover;
}
.gallery-nav li{
  position: relative;
  left: 50%;
  float: left;
  margin-right: 50px;
  margin-left : 50px;
}


a.tooltip.photo1{
  background-image: url("/images/KPN1.png");
}
a.tooltip.photo2{
  background-image: url("/images/KPN2.png");
}
a.tooltip.photo3{
  background-image: url("/images/KPN3.png");
}

a.tooltip .tooltip-box{
  opacity: 0;
}

.tooltip-info{
  color: #FFFFFF;
  font-weight: 200;
  font-size: 1.5em;
  text-align: center;
}

.copy{
  text-align: center;
  position: relative;
  bottom: 30em;
  color: #C9C9C9;
  font-size: 1.3em;
}